@font-face {
  	font-family: 'merri';
  	src: local('merri'), url('./Fonts/Merriweather_24pt-Regular.ttf') format('truetype');
}

* {
	font-family: 'merri', sans-serif !important;
}


:root {
    --theme: #2F3330;
    --theme2: #79643F;
    --theme3: #919785;
    --theme4: #82734C;
    --panel: #EDE6D5;      /* bege claro */
    --background: #C5BFA5; /* marrom suave */
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;

    /* Gradiente suave entre os tons principais */
    background: linear-gradient(135deg,
            var(--theme) 0%,
            var(--theme2) 25%,
            var(--theme3) 50%,
            var(--theme4) 75%,
            var(--background) 100%);

    /* Para dar mais vida ao fundo */
    background-attachment: fixed;
    background-size: 200% 200%;

    /* Animação lenta no degradê */
    animation: gradientFlow 20s ease infinite;
}

/* Animação que move o gradiente */
@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}